

<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1514933651103-005eec06c04b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80);">
  <div class="container">
    <h1>Viens donner ton avis sur nos restaurants !</h1>
    <a class="btn btn-primary" href="#">Donne ton avis</a>
  </div>
</div>
